<%- include ./partials/header %>
<div class="container">
  <h1>admin panel</h1>
  <form class="checkDate" action="/admins" method="get">
    Start Date:
    <select class="day" name="day">
      <% for(let i = 1; i < 32; i++){%>
        <option value="<%= i %>"><%= i %></option>
      <%}%>
    </select>
    <select class="month" name="month">
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">February</option>
      <option value="April">April</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July">July</option>
      <option value="August">August</option>
      <option value="September">September</option>
      <option value="October">October</option>
      <option value="November">November</option>
      <option value="December">December</option>
    </select>
    <select class="year" name="year">
      <option value="2016">2016</option>
      <option value="2017">2017</option>
    </select>
    End Date:
    <select class="day" name="dayEnd">
      <% for(let i = 1; i < 32; i++){%>
        <option value="<%= i %>"><%= i %></option>
      <%}%>
    </select>
    <select class="month" name="monthEnd">
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">February</option>
      <option value="April">April</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July">July</option>
      <option value="August">August</option>
      <option value="September">September</option>
      <option value="October">October</option>
      <option value="November">November</option>
      <option value="December">December</option>
    </select>
    <select class="year" name="yearEnd">
      <option value="2016">2016</option>
      <option value="2017">2017</option>
    </select>
    <input type="submit" name="submit" value="submit">
  </form>
  <h4>Total Items Sold: <%= dataJsonSumQty %></h4>
  <h4>Total Revenue Earned: <%= dataJsonSumRevenue %></h4>
  <h4>Total Profit Earned: <%= dataJsonSumProfit %></h4>
  <div class="table-responsive">
    <table class="table" id="adminPanel">
    <tr>
      <th>No</th>
      <th>Customer Name</th>
      <th>Item Name</th>
      <th>Total Item Sold</th>
      <th>Total Selling Price</th>
      <th>Total Supplied Price</th>
      <th>Transaction Date</th>
    </tr>
    <% for(let i = 0; i < dataJsonCustomersHistories.length; i++){ %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= dataJsonCustomersHistories[i].Customer.first_name %></td>
        <td><%= dataJsonCustomersHistories[i].item_name %></td>
        <td><%= dataJsonCustomersHistories[i].item_qty_buyed %></td>
        <td><%= dataJsonCustomersHistories[i].item_price %></td>
        <td><%= dataJsonCustomersHistories[i].item_price_supplied %></td>
        <td><%= dataJsonCustomersHistories[i].createdAt %></td>
      </tr>
    <% } %>
  </table>
</div>
</div>
<%- include ./partials/footer %>
<script>
function convertToRupiah(angka)
{
  var rupiah = '';
  var angkarev = angka.toString().split('').reverse().join('');
  for (var i = 0; i < angkarev.length; i++) if (i % 3 == 0) rupiah += angkarev.substr(i, 3) + '.';
  return 'Rp. ' + rupiah.split('', rupiah.length - 1).reverse().join('');
}
</script>
</body>
</html>
