<%- include ./partials/header %>
<div class="container">
  <h1>Admin Report</h1>
  <% console.log(dataJsonQuerry) %>
  <% if(dataJsonQuerry){ %>
    <h4>You've selected <%= dataJsonQuerry.day %> <%= dataJsonQuerry.month %> <%= dataJsonQuerry.year %> - <%= dataJsonQuerry.dayEnd %> <%= dataJsonQuerry.monthEnd %> <%= dataJsonQuerry.yearEnd %></h4>
    <% } else {%>
      <h4>Please</h4>
      <% } %>
      <form action="/admins" method="get">
        <label>Select Start Date</label>
        <div class="row">
          <div class="col col-sm-4">
            <select class="day" name="day">
              <% for(let i = 1; i < 32; i++){%>
                <option value="<%= i %>"><%= i %></option>
                <%}%>
              </select>
          </div>
          <div class="col col-sm-4">
            <select class="month" name="month">
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">February</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>
          </div>
          <div class="col col-sm-4">
            <select class="year" name="year">
              <option value="2016">2016</option>
              <option value="2017">2017</option>
            </select>
          </div>
        </div>
        <label for="">Select End Date:</label>
        <div class="row">
          <div class="col col-sm-4">
            <select class="day" name="dayEnd">
              <% for(let i = 1; i < 32; i++){%>
                <option value="<%= i %>"><%= i %></option>
                <%}%>
              </select>
          </div>
          <div class="col col-sm-4">
            <select class="month" name="monthEnd">
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">February</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>
          </div>
          <div class="col col-sm-4">
            <select class="year" name="yearEnd">
              <option value="2016">2016</option>
              <option value="2017">2017</option>
            </select>
          </div>
        </div>
          <input type="submit" name="submit" value="submit">
        </form>
          <h4>Total Items Sold: <%= dataJsonSumQty %></h4>
          <h4>Total Revenue Earned: <%= dataJsonSumRevenue %></h4>
          <h4>Total Profit Earned: <%= dataJsonSumProfit %></h4>
          <div class="table-responsive">
            <table class="table" id="adminPanel">
              <tr>
                <th>No</th>
                <th>Customer Name</th>
                <th>Item Name</th>
                <th>Total Item Sold</th>
                <th>Total Selling Price</th>
                <th>Total Supplied Price</th>
                <th>Transaction Date</th>
              </tr>
              <% for(let i = 0; i < dataJsonCustomersHistories.length; i++){ %>
                <tr>
                  <td><%= i+1 %></td>
                  <td><%= dataJsonCustomersHistories[i].Customer.first_name %></td>
                  <td><%= dataJsonCustomersHistories[i].item_name %></td>
                  <td><%= dataJsonCustomersHistories[i].item_qty_buyed %></td>
                  <td><%= dataJsonCustomersHistories[i].item_price %></td>
                  <td><%= dataJsonCustomersHistories[i].item_price_supplied %></td>
                  <td><%= dataJsonCustomersHistories[i].createdAt %></td>
                </tr>
                <% } %>
              </table>
            </div>
            <button onclick="myFunction()">Print this page</button>
          </div>
          <%- include ./partials/footer %>

          <script>
          function myFunction() {
            window.print();
          }
          </script>
        </body>
        </html>
