<%- include ./partials/header %>
<div class="container">
  <div data-role="main" class="ui-content">
    <form>
      <input id="customer" data-type="search" placeholder="Search For Customers...">
    </form>
    <table data-role="table" data-mode="columntoggle" class="ui-responsive ui-shadow" id="myTable" data-filter="true" data-input="#customer">
      <thead>
        <tr>
          <th data-priority="4">ID</th>
          <th>Customer First Name</th>
          <th data-priority="2">Customer Last Name</th>
          <th data-priority="3">Customer Email</th>
          <th colspan="3">Options</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < dataJsonCustomers.length; i++){ %>
          <tr>
            <td><%= dataJsonCustomers[i].id %></td>
            <td class='name'><%= dataJsonCustomers[i].first_name %></td>
            <td><%= dataJsonCustomers[i].last_name %></td>
            <td><%= dataJsonCustomers[i].email %></td>
            <td><a href="/customers/edit/<%= dataJsonCustomers[i].id %>">Edit</a></td>
            <td><a href="/customers/delete/<%= dataJsonCustomers[i].id %>">Delete</a></td>
            <td><a href="/marketplace/customers/<%= dataJsonCustomers[i].id %>/viewCart">View Cart</a></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <button type="button" name="button"><a href="/customers/add">Add New Customer</a></button>
  </div>
  <%- include ./partials/footer %>
</body>
</html>
