<%- include ./partials/header %>
<div class="container">
  <div class="table-responsive">
    <table class="table" id="customer">
    <tr>
      <th>ID</th>
      <th>Customer First Name</th>
      <th>Customer Last Name</th>
      <th>Customer Email</th>
      <th colspan="3">Options</th>
    </tr>
    <% for(let i = 0; i < dataJsonCustomers.length; i++){ %>
      <tr>
        <td><%= dataJsonCustomers[i].id %></td>
        <td><%= dataJsonCustomers[i].first_name %></td>
        <td><%= dataJsonCustomers[i].last_name %></td>
        <td><%= dataJsonCustomers[i].email %></td>
        <td><a href="/customers/edit/<%= dataJsonCustomers[i].id %>">Edit</a></td>
        <td><a href="/customers/delete/<%= dataJsonCustomers[i].id %>">Delete</a></td>
        <td><a href="/marketplace/customers/<%= dataJsonCustomers[i].id %>/viewCart">View Cart</a></td>
      </tr>
    <% } %>
  </table>
</div>
  <button type="button" name="button"><a href="/customers/add">Add New Customer</a></button>
</div>
<%- include ./partials/footer %>
</body>
</html>
