<%- include ./partials/header %>
<div class="container">
  <% if(hasOwnProperty('error')){ %>
    <h4 style="color: red">Please Input The Correct Email Format!</h4>
  <% } %>
  <form class="editCustomers" action="/customers/edit/<%= dataJsonCustomers[0].id %>" method="post">
    Input Customers First Name: <br>
    <input type="text" name="first_name" value="<%= dataJsonCustomers[0].first_name %>">
    <br>
    Input Customers Last Name: <br>
    <input type="text" name="last_name" value="<%= dataJsonCustomers[0].last_name %>">
    <br>
    Input Customers Email: <br>
    <input type="email" name="email" value="<%= dataJsonCustomers[0].email %>">
    <br><br>
    <input type="submit" name="submit" value="Submit">
  </form>
</div>
<%- include ./partials/footer %>
</body>
</html>
