<%- include ./partials/header %>
<div class="container">
  <form class="editItems" action="/items/edit/<%= dataJsonItems[0].id %>" method="post">
    Input Items Name: <br>
    <input type="text" name="item_name" value="<%= dataJsonItems[0].item_name %>">
    <br>
    Input Items QTY: <br>
    <input type="text" name="item_qty" value="<%= dataJsonItems[0].item_qty %>">
    <br>
    Input Items Price: <br>
    <input type="text" name="item_price" value="<%= dataJsonItems[0].item_price %>">
    <br>
    Input Items Buying Price: <br>
    <input type="text" name="item_selling_price" value="<%= dataJsonItems[0].item_selling_price %>">
    <br>
    <br>
    <input type="submit" name="submit" value="Submit">
  </form>
</div>
<%- include ./partials/footer %>
</body>
</html>
