<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Items Page</h1>
  <table>
    <tr>
      <th>Items ID</th>
      <th>Items QTY</th>
      <th>Items Name</th>
      <th>Items Price</th>
      <th>Items Buying Price</th>
    <% for(let i = 0; i < dataJsonItems.length; i++){ %>
      <tr>
        <td><%= dataJsonItems[i].id %></td>
        <td><%= dataJsonItems[i].item_qty %></td>
        <td><%= dataJsonItems[i].item_name %></td>
        <td><%= dataJsonItems[i].item_price %></td>
        <td><%= dataJsonItems[i].item_selling_price %></td>
        <td><a href="/items/viewSuppliers/<%= dataJsonItems[i].id %>">View Suppliers</a></td>
        <td><a href="/items/viewCustomers/<%= dataJsonItems[i].id %>">View Customers</a></td>
        <td><a href="/items/edit/<%= dataJsonItems[i].id %>">Edit</a></td>
        <td><a href="/items/delete/<%= dataJsonItems[i].id %>">Delete</a></td>
      </tr>
    <% } %>
  </table>
  <br><br>
  <button type="button" name="button"><a href="/items/add">Add New Items</a></button>
</body>
</html>
