<%- include ./partials/header %>
<div class="container">
  <h1>View <%= dataJsonSuppliers[0].first_name %> Orders</h1>
  <div class="table-responsive">
    <table class="table" id="supplyOrder">
    <tr>
      <th>Item Name</th>
      <th>Item QTY Supplied</th>
      <th>Item Supplied Price</th>
    </tr>
    <% for(let i = 0; i < dataJsonItems.length; i++){ %>
      <% for(let y = 0; y < dataJsonSuppliersItems.length; y++){ %>
        <% if(dataJsonItems[i].id === dataJsonSuppliersItems[y].ItemId){ %>
          <tr>
            <td><%= dataJsonItems[i].item_name %></td>
            <td><%= dataJsonSuppliersItems[y].qtySupply %></td>
            <td><%= dataJsonSuppliersItems[y].item_price %></td>
            <td><a href="/suppliersOrders/suppliers/<%= dataJsonSuppliers[0].id %>/<%= dataJsonSuppliersItems[y].id %>/delete">Remove from order</a></td>
          </tr>
        <% } %>
      <% } %>
    <% } %>
  </table>
</div>
  <button type="button" name="button"><a href="/suppliersOrders/suppliers/<%= dataJsonSuppliers[0].id %>">Add More Orders</a></button>
  <button type="button" name="button"><a href="/suppliersOrders/suppliers/<%= dataJsonSuppliers[0].id %>/completeOrders">Complete Supply Order</a></button>
</div>
<%- include ./partials/footer %>
</body>
</html>
