<%- include ./partials/header %>
<div class="container">
  <h1>Customers For: <%= dataJsonItems[0].item_name %></h1>
  <div class="table-responsive">
    <table class="table" id="customerItem">
      <tr>
        <th>Customer Name</th>
        <th>Item QTY Bought</th>
        <th>Item Bought Date</th>
      </tr>
    <% for(let i = 0; i < dataJsonCustomers.length; i++){ %>
      <% for(let y = 0; y < dataJsonCustomersHistories.length; y++){ %>
        <% if(dataJsonItems[0].item_name === dataJsonCustomersHistories[y].item_name && dataJsonCustomersHistories[y].CustomerId === dataJsonCustomers[i].id){ %>
        <tr>
          <td><%= dataJsonCustomers[i].first_name %></td>
          <td><%= dataJsonCustomersHistories[y].item_qty_buyed %></td>
          <td><%= dataJsonCustomersHistories[y].createdAt %></td>
        </tr>
        <% } %>
      <% } %>
    <% } %>
  </table>
</div>
</div>
<%- include ./partials/footer %>
</body>
</html>
