<%- include ./partials/header %>
<div class="container">
  <h1>Suppliers For: <%= dataJsonItems[0].item_name %></h1>
  <table>
      <tr>
        <th>Supplier Name</th>
        <th>Item QTY Supplied</th>
        <th>Item Supply Date</th>
      </tr>
    <% for(let i = 0; i < dataJsonSuppliers.length; i++){ %>
      <% for(let y = 0; y < dataJsonSuppliersHistories.length; y++){ %>
        <% if(dataJsonItems[0].item_name === dataJsonSuppliersHistories[y].item_name && dataJsonSuppliersHistories[y].SupplierId === dataJsonSuppliers[i].id){ %>
        <tr>
          <td><%= dataJsonSuppliers[i].first_name %></td>
          <td><%= dataJsonSuppliersHistories[y].item_qty_supplied %></td>
          <td><%= dataJsonSuppliersHistories[y].createdAt %></td>
        </tr>
        <% } %>
      <% } %>
    <% } %>
  </table>
</div>
<%- include ./partials/footer %>
</body>
</html>
